* {
  box-sizing: border-box;
}

html, body {
  min-height: 100%;
}

body {
  display: flex;
  min-width: 600px;
  margin: 0;
  background-color: #5DA449;
  color: rgba(255, 255, 255, 0.8);
  font-family: 'PT Sans', sans-serif;
}

#view {
  min-height: 100vh;
  padding: 1em;
}

#board {
  position: absolute;
  left: 25%;
  width: 50vw;
  height: 50vw;
  min-width: 300px;
  min-height: 300px;
  overflow: hidden;
  border: 12px solid #6D5720;
  border-radius: 12px;
}

#garden,
#plants,
#soil,
#overlay {
  display: grid;
  grid-template: 1fr 50px / 1fr 4fr;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#plants {
  z-index: 30;
}

#soil {
  background-color: #523D1F;
  overflow: hidden;
}

.plot {
  width: 100%;
  height: 100%;
  background-color: #6F532A;
  background-color: #836B32;
  background-image: url('images/dirt.svg');
  background-size: calc(10vw - 4px);
}

#overlay .plot {
  z-index: 50;
  background: none;
  box-shadow: inset 2px 2px 0 rgba(255, 255, 255, 0.05), inset -2px -2px 0 #665235;
}

#garden {
  z-index: 20;
}

.plant,
.treatment {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.plant .bg,
.treatment .bg {
  width: 100%;
  height: 100%;
  background-position: left top;
  background-size: calc(10vw - 4px);
}

.treatment .bg {
  border: 5px solid rgba(255, 255, 255, 0.4);
  border-width: 3px 5px 5px 3px;
}

.plant.carrot .bg {
  background-image: url("images/carrots.svg");
}

.plant.weed .bg {
  background-image: url("images/weeds.svg");
}

.plant.carrot.correct .bg {
  background-image: url("images/carrots-correct.svg");
}

.plant.weed.correct .bg {
  background-image: url("images/weeds-correct.svg");
}

.treatment.carrot .bg {
  background-color: rgba(81, 140, 179, 1);
  background-image: url("images/water.svg");
  animation: scroll 6s linear infinite;
}

.treatment.weed .bg {
  background-color: #63393E;
  background-image: url("images/poison.svg");
  animation: scroll 6s linear infinite;
}

#overlay.win:before {
  content: '';
  display: block;
  position: absolute;
  top: 18%;
  left: 41%;
  width: 8%;
  height: 8%;
  background-image: url("images/froggy.svg");
  background-size: 100% 100%;
  background-position: center bottom;
  background-repeat: no-repeat;
  z-index: 110;
  animation: bounce 2s linear infinite;
}

#overlay.win:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("images/carrots-win.png");
  background-size: 100% 100%;
  background-position: center bottom;
  background-repeat: no-repeat;
  z-index: 100;
}

#garden.win {
  display: none;
}

.grid-column-start-1 {
  grid-column-start: 1;
}

.grid-column-start-2 {
  grid-column-start: 2;
}

.grid-column-start-5 {
  grid-column-start: 5;
}

.grid-column-end-6 {
  grid-column-end: 6;
}

.grid-column-4 {
  grid-column: 4;
  grid-row: 1 / 6;
}

.grid-template-columns-repeat-8-12 {
  grid-template-columns: repeat(8, 12.5%) !important;
}

.grid-template-columns-100px-3em-40p {
  grid-template-columns: 100px 3em 40% !important;
}

.grid-template-columns-1fr-5fr {
  grid-template-columns: 1fr 5fr !important;
}

.grid-template-columns-75px-2fr-1fr {
  grid-template-columns: 75px 2fr 1fr !important;
}

.grid-template-columns-50px-1fr-1fr-1fr-50px {
  grid-template-columns: 50px 1fr 1fr 1fr 50px !important;
}

.grid-template-rows-50px-0-0-0-1fr {
  grid-template-rows: 50px 0 0 0 1fr !important;
}

.grid-template-rows-100p {
  grid-template-rows: 100% !important;
}

.grid-template-columns-6 {
  grid-template-columns: 75px 3fr 2fr !important;
  grid-template-rows: 100% !important;
}

.grid-area-1-1-6-2 {
  grid-area: 1 / 1 / 6 / 2;
}

.grid-area-5-1-6-6 {
  grid-area: 5 / 1 / 6 / 6;
}

.grid-area-1-5-6-6 {
  grid-area: 1 / 5 / 6 / 6;
}

.grid-template-2 {
  grid-template: 1fr 50px / 20% 1fr !important;
}

@keyframes scroll {
  0% { background-position: 0 0; }
  100% { background-position: 0 calc(10vw - 4px); }
}

@media only screen and (max-width: 767px)  {

  body,
  #sidebar {
    font-size: 13px;
  }

  .title {
    font-size: 26px;
  }
}
